

body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#456f83ba;  
    font-family: "Arial";
    font-size: 30px; 

} 
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}



h1{  
    
    color: #f7f0b5;  
    padding: 30px; 
    font-family: MS Gothic;
    position: relative;
    align-content: center;
} 
.image1
{
  border-radius: 50%;
  border-color: beige;
  opacity: 10;
}
.container 
{
position: relative;
}



img 
{ 
  width: 100%;
  height: auto;
  opacity: 0.7;
}
.login{  
        width: 200px;  
        overflow: hidden;  
        margin: auto;  
        margin: 10 0 0 200px;  
        padding: 70px;  
        background: #39666d;  
        border-radius: 5px ;     
        
}  

h2{  
    text-align: center;  
    color: #eceeee;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 2px;  
    padding-left: 6px;  
}  
#Pass{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 2px;  
    padding-left: 6px;  
      
}  
#log{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
    align-items: center;
    align-content: center;
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;    
}  
a{  
    float: right;  
    font-family:"Helvetica Neue", Helvetica, sans-serif;;
    color: rgb(97, 88, 230);  
    font-size: small;
}  


